.Wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  padding: 30px;

  @media (max-width: 768px) {
    width: calc(100vw - 30px);
    margin: 20px auto;
  }

  .Preloader {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clear {
    text-align: right;
    margin-bottom: 40px;
    span {
      cursor: pointer;
      border-radius: 10px;
      padding: 10px 15px;
      background-color: rgb(204, 203, 203);
      transition: 0.4s;

      &:hover {
        background-color: rgb(233, 233, 233);
      }
    }
  }

  li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    cursor: grab;
    transition: 0.3s;

    &:hover {
      background-color: rgb(212, 212, 212);
    }

    &.active {
      background: rgb(250, 184, 97);
    }
  }
}
